<h1>Articles <%= @name %></h1>

<h1>New Article</h1>

<%# model: @article  %>
<%= form_with  scope: article , url : articles_path, local : true do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title , class : "aa"%>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body  %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
