<h1>Articles <%= @name %></h1>

<h1>New Article</h1>



<%# ,class : "aa" %>
<%= text_area_tag(:message, "Hi, nice site", size: "24x6") %>
<%= date_field(:user, :born_on) %>
<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title  %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>