<h1>Articles <%= @name %></h1>

<h1>New Article</h1>



<%# ,class : "aa" %>

<%= form_with scope: :article, url: articles_path, local: true  , html: {class: "nifty_form"}do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title  %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>